body{
    font-family: 'Urbanist', sans-serif;
}
.image{
    height:150px;
    overflow: hidden;
    margin:0;
}
img{
    width: 100%;
    height: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    
    }


nav li a{
    text-decoration: none;
    transition: all 0.3 ease 0s;
}
nav list li a:hover{
    color:darkslateblue;

}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 20px;

}
button{
    padding:10px 20px;
    background-color:rgba(0, 136, 169, 0.5);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3 ease 0s;
    color:aliceblue;
}
button:hover{
    background-color:rgba(0, 136, 169, 0.8);

}
main{
    width: 60%;
    margin: auto;
}

